*csv
!02_nlp_ia_generativa/clase_01_text_mining_embeddings/Clase-01-Text-Mining-y-Embeddings/datasets/
!02_nlp_ia_generativa/clase_01_text_mining_embeddings/Clase-01-Text-Mining-y-Embeddings/datasets/*.csv
!02_nlp_ia_generativa/clase_01_text_mining_embeddings/Clase-01-Text-Mining-y-Embeddings/*